/**/.env
.idea
jormungandr
!jormungandr/.env.example
!jormungandr/install.sh
!jormungandr/init.sh
!jormungandr/commands.sh
!jormungandr/sendtiptopooltools.sh
!jormungandr/config.example.yaml
dev-maria-db/*.sh
prod-reverseproxy/access.log
prod-reverseproxy/acme.json
prod-mysql/mysql_data

