version: '3'

services:
  reverse-proxy:
    image: traefik:v2.11.31
    container_name: reverse-proxy
    command:
      - --accesslog=true
      - --api.insecure=true
      - --providers.docker
      - --log.level=DEBUG
      - --providers.docker.exposedbydefault=false
    ports:
      - "80:80"
      - "8080:8080"
    volumes :
      - /var/run/docker.sock:/var/run/docker.sock
    logging:
      options:
        max-size: "200k"
        max-file: "10"
    networks:
      - dev

    restart: always

networks:
  dev:
    external: true
#  hb_network:
#    external: true